<div id="alert-modal-wrapper" class="--wrapper">
    <div style="justify-content:space-evenly!important" id="alert-modal" class="modal modal-small">
      <span id="alert-modal--closeBtn" class="modal--close-btn">x</span>
      <h1 style="color:black;font-size: 32px;">{{alert-modal-title}}Delete Post</h1>
      <h1 style="color: black;font-family: 'Permanent Marker'!important;font-weight:100;text-align:center;">Are you sure yo want to delete this post? </h1>
      <div class="stylish-row-group">
          <div id="alert-modal-no" class="stylish-button">No</div>
          <div id="alert-modal-yes" class="stylish-button">Yes</div>
      </div>
    </div>
  </div>
  <script>
   
 </script>