<article class="brick entry format-standard animate-this">
    
        <div class="entry-thumb">
           <a href="single-standard" class="thumb-link">
               <img src="{{imageUrl}}" alt="building">             
           </a>
        </div>

        <div style="border:solid 1px" class="entry-text">
            <div class="entry-header">

                <div class="entry-meta">
                    <span class="cat-links">
                        {{#each tags}}
                        <a href="#">{{this}}</a>  
                        {{/each}}	
                    </span>			
                </div>

                <h1 class="entry-title"><a href="post?title={{title}}">{{title}}</a></h1>
                
            </div>
                 <div class="entry-excerpt">
                     {{description}}
                 </div>
        </div>

         </article> <!-- end article -->