<div class="featured-post-slide">

    <div class="post-background" style="background-image:url('{{imageUrl}}');"></div>

    <div class="overlay"></div>			   		

    <div class="post-content">
        <ul class="entry-meta">
             <li>September 06, 2016</li> 
             <li><a href="#" >{{author}}</a></li>				
         </ul>	

        <h1 class="slide-title"><a style="font-family:'Permanent Marker';font-weight:500" href="single-standard" title="">Minimalism Never Goes Out of Style</a></h1> 
    </div> 				   					  

</div>
</li> <!-- slide-->