<article class="brick entry format-gallery group animate-this">

        <div class="entry-thumb">

            <!-- images/thumbs/gallery/work1.jpg -->
           <div class="post-slider flexslider">
                     <ul class="slides">
                         <li>
                             <img src="{{img1}}"> 
                         </li>
                         <li>
                             <img src="{{img2}}"> 
                         </li>
                         <li>
                             <img src="{{img3}}"> 
                         </li>
                     </ul>							
                 </div> 

        </div>

        <div style="box-shadow:0 0 5px black" class="entry-text">
            <div class="entry-header">

                <div class="entry-meta">
                    <span class="cat-links">
                        {{# each tags}}
                        <a href="#">{{this}}</a> 
                        {{/each}}            				
                    </span>			
                </div>

                <h1 class="entry-title"><a href="single-gallery">{{title}}</a></h1>
                
            </div>
                 <div class="entry-excerpt">
                    {{description}}
                </div>
        </div>
        
         </article> <!-- end article -->
