<div id="login-modal-wrapper" class="--wrapper">
    <div id="login-modal" class="modal modal-small">
      <span class="modal--close-btn">x</span>
      <h1>Sign in</h1>

   
      <input id="login-modal--username" type="text" class="stylish-input stylish-rounded" placeholder="Username">
         <small id="login-modal--username-error" class="stylish-input--message stylish-error"></small>
      

      <input id="login-modal--password" type="password" class="stylish-input stylish-rounded" placeholder="Password">
      <small id="login-modal--password-error" class="stylish-input--message stylish-error"></small>
     

      <div id="login-modal--button" class="stylish-button stylish-rounded">Log in</div>
      <small id="login-modal--login-error" class="stylish-input--message stylish-error"></small>
      
     
    </div>
  </div>