
<div id="sidebar-wrapper" class="--wrapper">
        <div class="sidebar">
           <div class='stylish-column-group'>
            <div class="sidebar--avatar" style="background-image:url({{user.profilePic}})"></div>
            <h2 style="font-family:'Permanent Marker'">{{user.name}}</h2>
            <span style="font-family:'Permanent Marker';margin-top:-15px;font-size:12px">{{user.email}}</span>
            {{# if user.isAdmin}}<div class="stylish-tag">Admin</div>{{/if}}
           </div>

           <div>
            <span>A</span>
            <span>B</span>
            <span>C</span>
           </div>

           <div class="logo">o</div>



            <div class="sidebar--trigger">
                <ion-icon style=" color:black!important;" name="return-right"></ion-icon></div>
        </div>
 </div>
