<article class="brick entry format-video animate-this">
<!--  -->

        <div class="entry-thumb video-image">
           <a href="{{video}}" data-lity style="position:relative">
                <ion-icon style="font-size:65px;position:absolute;top:50%;left:50%;color:white;transform:translate(-50%,-50%)" name="play"></ion-icon>
               <img src="images/thumbs/ottawa-bokeh.jpg" alt="bokeh">                   
           </a>
        </div>

        <div style="box-shadow:0 0 5px black" class="entry-text">
            <div class="entry-header">

                <div class="entry-meta">
                    <span class="cat-links">
                            {{#each tags}}
                            <a href="#">{{this}}</a>  
                            {{/each}}
                    </span>			
                </div>

                <h1 class="entry-title"><a href="single-video">{{title}}</a></h1>
                
            </div>
                 <div class="entry-excerpt">
                     Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
                 </div>
        </div>
        
         </article> <!-- end article -->