<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    
    <!-- Blog editor css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/jodit.min.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <aside class="dashboard--aside">
            <h1>Dashboard</h1>
           <div class="dashboard--search">
               <input id="dashboard-search" type="text" placeholder="Search for posts"/>
               <ion-icon style="color:white" ios="ios-search" md="md-search"></ion-icon>
            </div>
        </aside>
    <section>
        {{> alert-panel}}
        {{> alert-modal}}
        {{> loader}}
        {{{body}}}
    </section>
    </div>

</body>

<!-- Editor js -->
<script src="/javascripts/jodit.min.js"></script>
<script src="javascripts/custom.js"></script>
<!-- Dashboard js -->
<script src="/javascripts/dashboard.js"></script>
<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
</html>
