<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>The Blog</title>
	<meta name="description" content="A reproductive health blog">  
	<meta name="author" content="Danielle Mwende Aroro">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
 		<link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">  
   <link rel="stylesheet" href="css/main.css">
   ================================================== -->
   <link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
		
	<!-- fonts
   ================================================== -->
    <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker" rel="stylesheet">

   <!-- script
   ================================================== -->
   <script src="javascripts/modernizr.js"></script>
	<script src="javascripts/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body style="padding-top:100px" id="top">
   {{# unless isLoggedIn}}{{> loginModal}}{{/unless}}
   {{> header}}
   {{{body}}}   
   {{#if loginMessage}} {{> alert-panel message=loginMessage}} {{/if}}

	{{> footer}}
   <!-- JavaScript
   ================================================== -->
     <script src="javascripts/jquery-2.1.3.min.js"></script>
     <script src="javascripts/plugins.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/custom.js"></script>
    <script>
         var alertPanel = document.querySelector('.alert-panel')
             var alertPanelCloseBtn = document.querySelector('.alert-panel--close')
             alertPanelCloseBtn.addEventListener('click',toggleAlertPanelState)
         
             function toggleAlertPanelState(){
                 alertPanel.classList.add('alert-panel-inactive')
             }
         </script>
	 <script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>


</body>

</html>