<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>The Blog</title>
	<meta name="description" content="A reproductive health blog">  
	<meta name="author" content="Danielle Mwende Aroro">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
 		<link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">  
   <link rel="stylesheet" href="css/main.css">
   ================================================== -->
   <link rel="stylesheet" href="stylesheets/fonts.css">
   <link rel="stylesheet" href="stylesheets/style.css">
		
    <!-- fonts
   ================================================== -->
   <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

   <!-- script
   ================================================== -->
   <script src="javascripts/modernizr.js"></script>
	<script src="javascripts/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

   		<div class="logo">
	         <a href="/">Author</a>
	      </div>
	      <div style="position:absolute;top:10px;left:120px;" class="site-title">
	      	<h3 style="font-size:35px;font-family:'Permanent Marker',sans-serif!important">The Blog</h3>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li class="{{# ifeq page 'home'}}current{{/ifeq}}"><a href="/" title="">Home</a></li>									
					<li class="{{# ifeq page 'category'}}current{{/ifeq}}"  class="has-children">
						<a href="category" title="">Categories</a>
						<ul class="sub-menu">
			            <li><a href="category">Wordpress</a></li>
			            <li><a href="category">HTML</a></li>
			            <li><a href="category">Photography</a></li>
			            <li><a href="category">UI</a></li>
			            <li><a href="category">Mockups</a></li>
			            <li><a href="category">Branding</a></li>
			         </ul>
					</li>
					<li class="{{# ifeq page 'blog'}}current{{/ifeq}}" class="has-children">
						<a class="{{# ifeq page 'blog'}}current{{/ifeq}}" href="single-standard" title="">Blog</a>
						<ul class="sub-menu">
			            <li><a href="single-video">Video Post</a></li>
			            <li><a href="single-audio">Audio Post</a></li>
			            <li><a href="single-gallery">Gallery Post</a></li>
			            <li><a href="single-standard">Standard Post</a></li>
			         </ul>
					</li>
					<li class="{{# ifeq page 'about'}}current{{/ifeq}}"><a href="about" title="">About</a></li>	
					<li class="{{# ifeq page 'contact'}}current{{/ifeq}}"><a href="contact" title="">Contact</a></li>
					<li><a href="contact" title="">Sign in</a></li>										
				</ul>
			</nav> <!-- end main-nav-wrap -->

			<div class="search-wrap">
				
				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->	

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->	
   		
   	</div>     		
   	
   </header> <!-- end header -->

   <!--dynamic body content-->
   
   {{{body}}}   


   <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">  

	      	<div class="col-four tab-full mob-full footer-info">            

	            <h4>About Our Site</h4>

	               <p>
		          	Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
		          	</p>

		      </div> <!-- end footer-info -->

	      	<div class="col-two tab-1-3 mob-1-2 site-links">

	      		<h4>Site Links</h4>

	      		<ul>
	      			<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>

	      	</div> <!-- end site-links -->  

	      	<div class="col-two tab-1-3 mob-1-2 social-links">

	      		<h4>Social</h4>

	      		<ul>
	      			<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribbble</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
	      	           	
	      	</div> <!-- end social links --> 

	      	<div class="col-four tab-1-3 mob-full footer-subscribe">

	      		<h4>Subscribe</h4>

	      		<p>Keep yourself updated. Subscribe to our newsletter.</p>

	      		<div class="subscribe-form">
	      	
	      			<form method="post" action="/auth/login" class="group" novalidate="true">

							<input type="email" value="" name="password" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
	   		
			   			<input type="submit" name="subscribe" >

		   				<label for="mc-email" class="subscribe-message"></label>
			
						</form>

	      		</div>	      		
	      	           	
	      	</div> <!-- end subscribe -->         

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Danielle Mwende Aroro</span> 
		         	<span>Design by <a href="#">Ian Macharia</a></span>		         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> 
      </div> <!-- end footer-bottom -->  

   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- JavaScript
   ================================================== -->
     <script src="javascripts/jquery-2.1.3.min.js"></script>
     <script src="javascripts/plugins.js"></script>
     <script src="javascripts/jquery.appear.js"></script>
     <script src="javascripts/main.js"></script>

</body>

</html>