<div class="articles-wrapper">
    <a><div class="stylish-tag" style="float:right">Add a new post</div></a>
    <h2 class="articles-wrapper--header">Posts</h2>
    <div class="articles--field-labels">
        <p>Title</p>
        <p>Description</p>
        <p>Published Date</p>
        <p>Author</p>
    </div>
    {{# each posts}}
        <div class="article-item">
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{publishedDate}}</p>
            <p>{{../user.name}}</p>
            <div class="stylish-row-group">
                <a href="/dashboard/editor"><div class="stylish-tag">EDIT</div></a>
                <div class="stylish-tag" style="background-color: #E91E63!important;">DELETE</div>
            </div>
        </div>
    {{/each}}
</div>