<div class="articles-wrapper">
    <a href="/dashboard/editor"><div class="stylish-tag" style="float:right">Add a new post</div></a>
    <h2 class="articles-wrapper--header">Posts</h2>
   
    <div class="articles--field-labels">
        <p class="stylish-tag">Title</p>
        <p class="stylish-tag">Description</p>
        <p class="stylish-tag">Published Date</p>
        <p class="stylish-tag">Author</p>
    </div>
        <div id="articles">
            <!-- Articles are rendered here after Ajax call -->
        </div>
</div>