<!-- masonry
   ================================================== -->
	{{#ifeq currentPage 1}}
	{{#if hideHero}}
	{{else}}
   {{> hero-partial}}
   {{/if}}
   {{/ifeq}}
   
   <div style="margin:80px 0 0 60px;">
		{{#if posts}}
	   <h1 style="font-size:35px;font-family:'Permanent Marker',sans-serif">{{# if hideHero}}Search Results{{else}}Featured Posts{{/if}}</h1>
	   {{/if}}
   </div>
 
   <section id="bricks">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">
         	<div class="grid-sizer"></div>
         	<div class="brick entry featured-grid animate-this">
         		<div class="entry-content">
					
					<div id="featured-post-slider" class="flexslider">
						<ul class="slides">
						 {{# each posts}}
						 {{> featured-post-slide 
								 imageUrl=featuredImage 
								 author=author.name
								 publishDate=publishDate
								 title=title
								 _id=_id

						 }}   
						 {{/each}}
						 
						</ul> <!-- end slides -->
					</div> <!-- end featured-post-slider --> 			
         		</div> <!-- end entry content -->         		
			 </div>
			 {{# if posts}}
			 {{# each posts}}
				{{> article-brick 
					imageUrl=featuredImage
					title=title
					description=description
					_id=_id
				}}
			 {{/each}}
			 {{else}}
			 {{> article-brick 
				imageUrl='https://media.giphy.com/media/3o85xvmEbFudcz7zUI/giphy.gif'
				title='No posts found'
				description="Sorry but no posts were found"
				center=true
			}} 
			 {{/if}}

         </div> <!-- end brick-wrapper --> 

   	</div> <!-- end row -->

   	<div class="row">
		{{# if loginMessage}} 
		{{loginMessage}}
		{{/if}}
   		<nav class="pagination">
		{{{getPaginationItems totalPosts currentPage}}}
		</nav>

   	</div>

   </section> <!-- end bricks -->