.dashboard{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:100vh;
}

.dashboard h1{
    font-family:'Permanent Marker';
    color:white;
    font-size:24px;
}
.dashboard--aside{
position:relative;
background:linear-gradient(45deg,#8b193f,#cf1251,#e91e63,#ff006a,rgb(255, 187, 0));
background-size:400%;
padding:20px;
padding-top:-10000px;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content: center;
animation: gradient 8s infinite forwards alternate;
}

@keyframes gradient{
    0%{
        background-position: (0%)
    }
    100%{
        background-position: (100%)
    }
}

.dashboard input{
    background:#222!important;
    height:40px!important;
    outline:none;
    border:1px black solid;
    border-radius:5px;
    padding:5px;
}
.dashboard--search{
    position:relative
}
#dashboard-search{
    transition:all 1s;
    color: white!important;
}

#dashboard-search :focus {
    box-shadow:0 0 5px rgb(255, 187, 0)!important;
    color: white!important;
}

#dashboard-search:blur{
    box-shadow:0 0 0px rgb(255, 187, 0)!important;
    color: white!important;
}

@keyframes rotate{
    0%{transform:rotate(0deg)}
    100%{transform: rotate(360deg)}
}
.dashboard--search ion-icon {
    position: absolute;
    right: 5px;
    top:20%;
}

.dashboard--navigation{
    color:black;
}

@media screen and (max-width:768px){
    .dashboard{
        grid-template-columns: 1fr 1fr;
    }
}

.articles-wrapper{
    padding:80px 40px 10px 70px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    min-height: 100vh;
}
.articles-wrapper--header{
    position:relative;
    font-family: 'Permanent Marker';
    font-weight:400;
    font-size: 40px;
    margin-bottom:40px;
    margin-left: 20px;
}

#article-count{
    position:absolute;
    top:-15px;
    left:12%;
    color:black;
    text-align:center;
    min-width:35px;
    min-height:35px;
    border-radius:50%;
    font-size:20px;
    padding:5px;
    background:rgb(255, 187, 0);
}

.articles-wrapper #articles{
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}

.article-item{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    padding:20px 10px;
    padding-left:20px;
    align-items:center;
    box-shadow: 0 0 5px black;
    margin-bottom:15px;
    text-align: center;
    transform: scale(0);
    animation:1s grow forwards cubic-bezier(0.4, 0, 0.2, 1)
}

@keyframes grow{
    0%{transform:scale(0)}
    100%{transform:scale(1)}
}

.articles--field-labels{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    margin-bottom:20px
}

.editor--wrapper{
    height:100vh;
    padding: 50px 10px 10px 10px;
    overflow: scroll;
    max-height: 100vh;
    display: grid;
    grid-template-rows: repeat(2,1fr) 2fr
}

.editor--top-section{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
}

.editor--top-section input[type="file"]{
    opacity: 0;
    width:0;
    height:0;
}

.editor--preview{
    
}

.editor--publish-post{
    position:absolute;
    top:5%;
    right:5%;
}

.editor--title input{
    background: white!important;
    height: 70px!important;
}

.editor--description textarea{
    background: white!important;
    height: 70px!important;
}