.--wrapper {
  visibility: hidden;
  z-index: 9999!important;
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  background-color: rgba(0, 0, 0, 0.0)!important;
  transition: background-color 0.5s!important;
}


.sidebar {
  visibility: visible;
  position: absolute!important;
  z-index: 9999!important;
  top: 0!important;
  bottom: 0!important;
  z-index: 10!important;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px!important;
  margin-left: -320px!important;
  background: white!important;
  box-shadow: 0 0 10px black!important;
  transition: all 0.5s ease-in-out!important;
}

.sidebar--trigger{
  z-index: 9999;
  background: white!important;
  cursor: pointer;
  position: absolute;
  font-size:30px;
  top: 50%;
  left: 82%;
  transform: translate(0%,-50%);
  width: 100px;
  height: 80px;
  border-radius: 30%;
  visibility: visible!important;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  padding-right: 10px;
}

.sidebar--avatar{
  width:120px;
  height:120px;
  border-radius: 50%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  margin: 70px  0 25px 0 ;
}

@media screen and (max-width:768px){
  .sidebar--avatar{
    width:90px;
    height:90px;
  }
}

.sidebar-active {
  margin-left: -10px!important;
}

.wrapper-active {
  visibility: visible!important;
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.stylish-button {
  margin: 10px!important;
  min-width: 200px!important;
  min-height: 25px!important;
  user-select: none!important;
  cursor: pointer!important;
  letter-spacing: 2px!important;
  color: white!important;
  background: black!important;
  padding: 7px!important;
  font-family: "Permanent Marker"!important;
  font-size: 15px!important;
  text-align: center!important;
  text-transform: uppercase!important;
  transition: all 0.3s!important;
}

.stylish-button:hover {
  background: indigo!important;
}

.stylish-inverse {
  background-color: white!important;
  color: black!important;
  border: 1px solid black!important;
  box-shadow: none!important;
}

.stylish-rounded {
  border-radius: 20px!important;
}

.stylish-inverse:hover {
  background: white!important;
  border-color: indigo!important;
  color: indigo!important;
}

.modal {
  user-select: none!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  width: 70%!important;
  height: 350px!important;
  z-index: 9999!important;
  transform: translate(-50%, -50%)!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  margin-top: -100vh!important;
  background: white!important;
  box-shadow: 0 0 10px black!important;
  border-radius: 10px!important;
  transition: all 1s ease-in-out!important;
}
.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
  font-family: "Permanent Marker"!important;
}

.modal > span.modal--close-btn {
  cursor: pointer!important;
  font-family: "Permanent Marker"!important;
  font-size: 30px!important;
  position: absolute!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  z-index: 60!important;
  top: -20px!important;
  right: -20px!important;
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%!important;
  color: white!important;
  background: black!important;
  padding: 5px!important;
  transition: all 0.3s!important;
}

span.modal--close-btn:hover {
  background: indigo!important;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 700px!important;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    max-width: 90%!important;
    width: 90%!important;
  }
}
.modal-active {
  margin-top: 0!important;
}

.modal-small {
  max-width: 450px!important;
}

.stylish-tag {
  display: inline-block!important;
  margin: 10px!important;
  cursor: pointer!important;
  padding: 5px 10px 5px 10px!important;
  min-width: 60px!important;
  min-height: 15px!important;
  line-height: 15px!important;
  white-space: no-wrap!important;
  border-radius: 15px!important;
  text-align: center!important;
  color: white!important;
  background: black!important;
  font-size: 12px!important;
  font-family: "Permanent Marker"!important;
}

.stylish-input {
  outline: none!important;
  background: white!important;
  font-family: "Kalam"!important;
  font-size: 20px!important;
  padding: 5px 5px 5px 10px!important;
  margin: 15px!important;
  border: 3px solid black!important;
  width: 70%!important;
  transition: 1s all;
  color:black!important;
  height:50px!important;
}

.stylish-row-group {
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-evenly!important;
  align-items: center!important;
}

.stylish-column-group {
  width: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: space-evenly!important;
  align-items: center!important;
}

.stylish-input--message {
  font-family: "Permanent Marker", sans-serif!important;
  margin-top: -5px!important;
}

.stylish-alert {
  color: #fda800!important;
}

.stylish-info {
  color: indigo!important;
}

.stylish-error {
  color: red!important;
}

.stylish-loader {
  width: 70px;
  height: 70px;
  background: transparent;
  border: 5px solid #f5f5f5;
  border-top-color: rgb(255, 0, 98);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius: 50%;
  animation: rotate 1s infinite forwards linear;
  
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: #ff006a;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color:  rgb(255, 187, 0)
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: #ff006a
  }
}

.alert-panel{
  width:350px;
  height:50px;
  z-index:9999;
  color:white;
  position:absolute;
  top:-1000px;
  left:60%;
  transform: translate(-50%,0%);
  display:flex;
  flex-direction:row;
  align-items:center;
  user-select: none;
  padding:10px;
  border-radius:5px;
  box-shadow: 0 0 5px black;
  justify-content: space-evenly;
  animation: 2s slideDown forwards ease-out;
  background:linear-gradient(45deg,#8b193f,#cf1251,#e91e63,#ff006a,rgb(255, 187, 0));
}

.alert-panel--text{
  margin-top:-2px;
  font-family: 'Permanent Marker',sans-serif;
  font-size:15px;
  font-weight:200;
}

.alert-panel--icon,.alert-panel--close{
  cursor: pointer;
  margin-top:2px;
  font-size:25px;
}

.alert-panel--close{
  margin-left:30px;
}

.alert-panel-inactive{
  animation:slideUp 2s forwards;
}

@keyframes slideDown {
  0%{top:-1000px}
  100%{top:15%}
}

@keyframes slideUp {
  0%{top:15%}
  100%{top:-1000px}
}
